@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  font-family: 'Inter', sans-serif;
}

html,
body,
#__next {
  position: relative;
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0rem 3rem;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0.5rem;
  width: 100%;
  font-size:1.5em;
  text-align: center;
}

footer p {
  font-size: medium;
  font-weight: 500;
  background: linear-gradient(120deg, #d6a0d6 0%, #1292a0 100%);
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}